[submodule "nonflat-priors"]
	path = nonflat-priors
	url = git@github.com:mikedecr/post_nonflat-priors.git
[submodule "scrape-memoize-scum-data"]
	path = scrape-memoize-scum-data
	url = git@github.com:mikedecr/post_memo_scum.git
[submodule "usable-research-repos"]
	path = usable-research-repos
	url = git@github.com:mikedecr/usable-repos.git
[submodule "plain-language-median-voter"]
	path = plain-language-median-voter
	url = git@github.com:mikedecr/plain-language-median-voter.git
